* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color-0: #fbe8a6;
  --main-color-1: #f4976c;
  --main-color-2: #303c6c;
  --main-color-3: #b4dfe5;
  --main-color-4: #d2fdff;
}

body {
  color: var(--main-color-2);
  font-family: "Poppins", sans-serif;
  background-color: var(--main-color-0);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

#header {
  font-size: 3rem;
  line-height: 4rem;
  padding: 0 20px;
  font-family: "Pacifico", sans-serif;
  border-bottom: 4px solid var(--main-color-2);
}

#grid {
  background-color: var(--main-color-1);
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 6px;
}

.grid-tile {
  color: var(--main-color-2);
  font-size: 72px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  background-color: var(--main-color-0);
  height: 100px;
  width: 100px;
  cursor: pointer;
}

/* needed for empty tile check */
.fa-solid {
  pointer-events: none;
}

#active-turn {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

#player-1-name,
#player-2-name {
  color: var(--main-color-0);
  background-color: var(--main-color-2);
  border-radius: 25px;
  font-size: 20px;
  padding: 5px 15px;
  font-weight: 600;
}

#player-1-score,
#player-2-score {
  width: 100%;
  text-align: center;
  font-size: 68px;
  color: var(--main-color-1);
  display: inline-block;
  padding: 0 10px;
  font-weight: 500;
}

#winner {
  height: 50px;
}

/* Copyright and source link  */
#copyright {
  font-weight: 600;
  font-size: 12px;
  color: var(--main-color-0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  background-color: var(--main-color-1);
  border-radius: 50px;
  padding: 2px 14px;
}

#copyright-link {
  color: inherit;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

#source-link {
  color: inherit;
  margin-left: 5px;
}

#source-link:hover {
  color: var(--main-color-2);
}

#github-icon {
  font-size: 22px;
  text-decoration: none;
}

#github-icon:hover {
  color: var(--main-color-2);
  transform: scale(1.1);
}
