* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color-0: #fbe8a6;
  --main-color-1: #f4976c;
  --main-color-2: #303c6c;
  --main-color-3: #b4dfe5;
  --main-color-4: #d2fdff;
}

body {
  color: var(--main-color-2);
  font-family: "Poppins", sans-serif;
  background-color: var(--main-color-0);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

/* Header  */

#header {
  font-size: 3.5rem;
  font-family: "Pacifico", sans-serif;
}

/* Grid  */

#grid {
  margin: 20px;
  background-color: var(--main-color-1);
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 6px;
}

.grid-tile {
  color: var(--main-color-2);
  font-size: 5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
  background-color: var(--main-color-0);
  height: 120px;
  width: 120px;
  cursor: pointer;
}

.fa-solid {
  pointer-events: none;
}

/* Scoreboard  */

#active-turn {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

#player-1-name,
#player-2-name {
  color: var(--main-color-0);
  background-color: var(--main-color-2);
  border-radius: 25px;
  padding: 5px 15px;
  font-weight: 600;
  transition: 200ms ease-in-out;
}

#player-1-score,
#player-2-score {
  width: 100%;
  text-align: center;
  font-size: 48px;
  color: var(--main-color-1);
  display: inline-block;
  padding: 0 10px;
  font-weight: 500;
}

#winner {
  font-family: "Pacifico", sans-serif;
  height: 50px;
}

/* Mode select  */

#mode-select {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Pacifico", sans-serif;
  width: 50vw;
  height: 50vh;
  background-color: var(--main-color-0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

#mode-select > p {
  line-height: 2.5rem;
  padding: 0 30px;
  border-bottom: 3px solid var(--main-color-1);
}

.mode-select-btn {
  cursor: pointer;
  font-size: 2rem;
  font-family: "Pacifico", sans-serif;
  color: var(--main-color-2);
  background-color: var(--main-color-1);
  border: none;
  width: 250px;
  padding: 5px 0;
  margin: 0 20px;
  border-radius: 50px;
  transition: 200ms ease-in-out;
}

.mode-select-btn:hover {
  color: var(--main-color-1);
  background-color: var(--main-color-2);
}

#mode-select-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  z-index: 1;
}

/* Copyright and source link  */
#copyright {
  font-weight: 600;
  font-size: 12px;
  color: var(--main-color-0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  background-color: var(--main-color-1);
  border-radius: 50px;
  padding: 2px 14px;
}

#copyright-link {
  color: inherit;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

#source-link {
  color: inherit;
  margin-left: 5px;
}

#source-link:hover {
  color: var(--main-color-2);
}

#github-icon {
  font-size: 22px;
  text-decoration: none;
}

#github-icon:hover {
  color: var(--main-color-2);
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  #header {
    font-size: 2.5rem;
  }

  #grid {
    grid-template-columns: repeat(3, 80px);
  }

  .grid-tile {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 4rem;
  }
  #active-turn {
    width: 300px;
  }

  #player-1-score,
  #player-2-score {
    font-size: 42px;
  }
}
